doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/definitionstyle.css')        
  body
    div
        div#left
            div#list1.comparegraphidlist
        div#right
            div#list2.comparegraphidlist
    div.centerbutton
        button(type="button", class="btn btn-primary" id="nextbutton") Next
    div#error
    form
        .form-group
            label Graph ID 1:
            input.form-control(type='text' id="graphID1")
        .form-group
            label Graph ID 2:
            input.form-control(type='text' id="graphID2")
    script(src='./javascripts/jquery.min.js')
    script(src='//d3js.org/d3.v3.js')
    script(src='./javascripts/ComparisonIDView.js')
