doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/comparisonstyle.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    button(type="button", class="btn btn-primary" id="koch") Maximum Common Connected Graph
    button(type="button", class="btn btn-primary" id="mc") Maximum Common Induced Graph
    div#left
    div#right
    script(src='./javascripts/jquery.min.js')
    script(src='//d3js.org/d3.v3.js')
    script(src='./javascripts/ReadOnlyGraphView.js')
    script(src='./javascripts/ComparisonView.js')