doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='./stylesheets/definitionstyle.css')        
  body
    div#centeredContainer
        .form-group
            label(for='graphID') Input a Graph ID:
            input#graphID.form-control(type='text')
        div(id="error")
        div
            button(type="button", class="btn btn-primary")(onclick='checkID()') Next
    block content
    script(src='./javascripts/jquery.min.js')
    script(src='//d3js.org/d3.v3.js')
    script(src='./javascripts/graphID.js')
