doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/definitionstyle.css')
    script(type='text/javascript').
        var checkID = function() {
            inputID = document.querySelector('#graphID').value;
            console.log(inputID)
            //check empty
            errorMessage = "";
            if (0 === inputID.length) {
                errorMessage = "Empty ID is not allowed.";
            }
            //check illegal character
            //check duplication
            if (0 === errorMessage.length) {
                //create the new graph with this ID
                $.post( "/createGraphID", {id: inputID}).done(function( data ) {
                    if (data == 'old') {
                        errorMessage = "This ID already exists.";
                        document.getElementById("error").innerHTML = errorMessage;
                    } else {
                        location.href='/graphDefinition';
                    }
                });
            }
            document.getElementById("error").innerHTML = errorMessage;
        }
  body
    div
        div
            Please Input a Graph ID
        div(id="error")
        div
            input(type="text" id="graphID")
        div
            button(onclick='checkID()') Next
    block content
    script(src='./javascripts/jquery.min.js')
    script(src='//d3js.org/d3.v3.js')
