extends layout

block content
  p testing
  div.loginbox
    button#add Add attributes
    form(id="add-node", name="add-node", method="post")
      table
        tr
          td type:
          td 
            input(type="text", name="type")
        tr.attribute
          td attribute:
          td
            input(type="text", name="attribute")
        tr
          td
          td
            input(type="submit", name="submit")