doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    div(id="graph")
    block content
    script(src='//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='//d3js.org/d3.v3.js')
    script(src='./javascripts/graph-editor.js')